.breeze-container{
  position: absolute;
  top: 50%;left: 50%;
  width:200px;height:260px;
  transform: translate(-50%, 77%);
  text-align: center;
  font-size: 200%;
  color: #fff;
  background: #a8a7e9;
  border-radius:5px;
}
.breeze-container:after{
  content:"";
  position:absolute;
  top:58%;
  left:50%;
  transform: translate(-50%, -50%);
  width:6px;
  height:70px;
  background:#fff;
}
.breeze{
  position:absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(1deg);
  border-bottom:60px solid #fff;
  border-left:5px solid transparent;
  border-right:5px solid transparent;
  animation: windmill 12s infinite linear;
  transform-origin:50.5% 62px;
}
.breeze:before{
  position:absolute;
  top: 75px;left: -59px;
  content:"";
  border-right:60px solid #fff;
  border-top:5px solid transparent;
  border-bottom:5px solid transparent;
  transform:rotate(-30deg);
}
.breeze:after{
  position:absolute;
  top: 75px;left: -1px;
  content:"";
  border-left:60px solid #fff;
  border-top:5px solid transparent;
  border-bottom:5px solid transparent;
  transform:rotate(30deg);
}
@keyframes windmill{
  0%{
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100%{
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
.col-md-4.margin-top {
    margin-top: 200px;
    background-color: #a8a7e9;
    padding: 30px;
    border: 1px solid #a8a7e9;
    border-radius: 10px;
}
h3.login-title {
    text-align: center;
    margin-bottom: 30px;
}
.margin-top h2 {
    margin-top: 80px;
}
text.highcharts-credits {
    display: none;
}
td.warning {
    text-align: center;
    cursor: pointer;
}
li.list-group-item:hover {
    color: #fff;
    background-color: #337ab7;
    text-decoration: none;
}
.tab-content h4,.panel-body h4 {
    height: 30px;
    border-bottom: 1px solid #ccc;
}
table{border: 1px solid #ebe0e0;}

/*chart right-bottom*/
a.canvasjs-chart-credit {
    display: none;
}
li.list-group-item.menu11 {
    text-align: center;
    text-decoration: none;
}
li.list-group-item.menu11.on {
    background-color: #68a7c5;
    color: #fff;
}
li.list-group-item.menu11:hover {
    color: #fff;
    background-color: #68a7c5;
    text-decoration: none;
}
.modal-header {
    border-bottom: none;
}
div#barcon {
    text-align: right;
}
ul#meunList {
    width: 600px;
    display: inline-block;
    margin: 0px 15%;
    text-align: center;
}
li.tab-btn {
    width:120px;
    background-color: rgb(176, 152, 151);
    margin: 15px;
}
li.tab-btn.active>a, li.tab-btn.active>a:hover, li.tab-btn.active>a:focus{
    background-color: #908b84;
    color: #fff;
    border: 1px solid #908b84;
    width: 120px;
}
li.tab-btn>a {
    background-color: #bdb3a4;
    color: #504b4b;
    border: 1px solid #bdb3a4;
    width: 120px;
    text-align: center;
}
#table-head{
  display: table-row !important;
}
#table-head th{
    height: 45px;
    padding: 10px;
}
#table-container tr,#table-container tr td{
    vertical-align: middle;
}
div#model-detail-content {
    height: 100px;
    overflow: auto;
    background-color: #ccc;
    border-radius: 4px;
    margin-top: 2px;
    padding: 5px;
}
.search-type{
  float: left;
  width: 30%;
  padding: 15px;
}
.input-box{
    width: 70%;
    display: inline-block;
    margin-top: 20px;
}
.type-list-box{
  display: none;
}
#information tr>td:nth-of-type(3){
  width: 700px;
    text-overflow: ellipsis;
    max-width: 700px;
    text-align: left;
    overflow: auto;
    display: inline-block;
    word-wrap: break-word;
}
b{
     color:red;
     }